# Foundry Python Core code owners

# Default owners for everything in the repo
*                   @aignostics/foundry

# CI/CD and infrastructure
.github/            @aignostics/foundry
noxfile.py          @aignostics/foundry
mise.toml           @aignostics/foundry

# Documentation
*.md                @aignostics/foundry
docs/               @aignostics/foundry

# Core source code
src/                @aignostics/foundry

# Tests
tests/              @aignostics/foundry

# Reference: <https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners>
